[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
numpy = "*"
pulp = "*"
pandas = "*"
pyfrontier = {editable = true, path = "../../."}

[dev-packages]
pre-commit = "*"
black = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
jupyter = "*"
nbsphinx = "*"
commonmark = "*"
recommonmark = "*"
sphinx-gallery = "*"
pillow = "*"
matplotlib = "*"
bibtexparser = "*"
twine = "*"
wheel = "*"
