[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pulp = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"

[requires]
python_version = "3.10"
