name: unit_test

on:
  pull_request:
    branches:
      - main
      - feature/**

jobs:
  test_in_python:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3

      - name: set up Python${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: install pipenv
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv

      - name: install modules
        run: |
          pipenv lock
          pipenv sync

      - name: run pytest
        run: |
          pipenv run pytest -v tests/ --cov=src/Pyfrontier --cov-report=xml

      - name: upload coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
